# Default is from neon.tech postgres, feel free to change
DATABASE_URL=DATABASE_URL=postgresql://neondb_owner:h2uHRB7xFDYs@ep-falling-sky-a5jzx1en.us-east-2.aws.neon.tech/neondb?sslmode=require 

# Optional for built-in caching: Get these from Upstash Redis console
REDIS_URL= 
REDIS_TOKEN= 